/venv/
/dist/
/build/
/pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pywz
*.spec
*.log
*.txt
*.json
*.yml
*.xml
*.ini
*.cfg
*.cfg
*.session
*.session-journal
*.session-journal-migrations
*.session-journal-wal
upload_to_telegram.py

